body {
    background-color: pink
}

img+p {
    background-color: aquamarine;
    padding: 50px;
    padding-left: 80px;
    border: dotted 3px blue;
    margin: 50px;
    background-image: url(images/background.gif);
    background-position: top left;
    background-repeat: no-repeat;
}

h2+p {
    background-color: aquamarine;
    padding: 80px;
    border: solid 5px green;
    margin: 100px;
    padding-left: 100px;
    border-radius: 25px
}
