* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.col-lg-2 {
    float: left;
    margin: auto;
    width: 16.66%;
    border: 1px solid blue;
}

.col-lg-3 {
    float: left;
    margin: auto;
    width: 25%;
    border: 1px solid blue;
}

.col-lg-4 {
    float: left;
    margin: auto;
    width: 33.33%;
    border: 1px solid blue;
}

.col-lg-6 {
    float: left;
    margin: auto;
    width: 50%;
    border: 1px solid blue;
}

.col-lg-12 {
    float: left;
    margin: auto;
    width: 100%;
    border: 1px solid blue;
}

img[src$="png"] {
    border: 1px dashed red;
    border-radius: 50%;
}

a[href*="http"]:after {
    content: "i am real";
}

@media screen and(min-width: 1200px)) {
    /* Desktop middle size */
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media screen and(min-width: 768px) and (max-width: 1200px) {
    /*mobliedevice small size*/
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media screen and(min-width: 768px) {
    /*for moblie phone*/
    [class*="col-"] {
        width: 100%
    }
}
