.bkd {
    background-color: #9A5927;
    height: 50px;
    position: fixed;
    width: 100%;
}

ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}

ul li a {
    color: #f9f59a;
    text-decoration: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

ul li:hover {
    background-color: #ba7947;
}

ul li ul li:hover {
    background-color: #f9f59a;
}

ul li ul li:hover a {
    color: #9a5927;
}

ul li ul a:hover li {
    color: #9a5927;
}

article {
    text-align: center;
}

#good {
    float: left;
    display: block;
    text-align: center;
    width: 30%;
    margin-right: 50px;
    background-color: pink;
}

#bad {
    float: left;
    display: block;
    text-align: center;
    width: 30%;
    background-color: pink;
}

#feature {
    float: right;
    display: block;
    text-align: center;
    width: 30%;
    background-color: pink;
}

h2 {
    font-size: 25px;
    border: 1px dashed red;
    color: red;
    font-weight: bolder;
    padding: 20px;
}

h4 {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

p {
    font-size: 10px;
    padding: 20px;
}
