body {
    background-color: teal
}

h3 {
    font-weight: bolder;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
>>>>>>> origin/master
    font-family: "monotype corsiva", "Helvetica Neue", Helvetica, sans-serif;
    color: yellow;
    font-size: 100px;
}

p {
    font-family: Impact, "Helvetica Neue", Helvetica, sans-serif;
    color: blue;
    font-size: 60px;
}

h3+p {
    font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
    color: fuchsia;
    font-size: 50px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: yellow;
    font-size: 50pt;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: blue;
    font-size: 30pt;
}

h3+p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: fuchsia;
    font-size: 50pt;
>>>>>>> origin/master
>>>>>>> origin/master
>>>>>>> origin/master
}

.p2 {
    font-style: italic;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
>>>>>>> origin/master
    font-size: 60px;
}

#pob {
    font-family: "comic sans ms";
    text-align: right;
    color: purple;
    font-size: 50px;
    margin-right: 120px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
    font-size: 40pt;
}

#pob {
    font-style: oblique;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: purple;
    font-size: 20pt;
>>>>>>> origin/master
>>>>>>> origin/master
>>>>>>> origin/master
}
